:root {
  --trai-white: #FFFFFF;
  --trai-background: #F8F9FA;

  --trai-mint: #4FD1C5;
  --trai-navy: #2C3357;
  --trai-darknavy: #151928;

  --trai-greytext: #A0AEC0;
  --trai-text: #2D3748;

  --trai-success: #48BB78;
  --trai-error: #E53E3E;
  --trai-disabled: #CBD5E0;

  --trai-highprice: #F13B3B;
  --trai-lowprice: #3030FD;
  --trai-sell: #2D9CDB;
  --trai-buy: #EB5757;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'HelveticaRegular';
  src: url('../assets/fonts/helvetica/HELVETICA.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaLight';
  src: url('/fonts/HELVETICA-LIGHT.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('../assets/fonts/helvetica/HELVETICA-BOLD.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}