.chart-header {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 1px;
    width: 100%;
    align-items: center;

    .ticker {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        align-items: center;
        font-family: 'Pretendard';
        font-weight: 700;
        font-size: 24px;
        color: #000000;
    }
    
    .chart-price-container{
        grid-area: 3 / 1 / 4 / 2; 
        .chart-price {
            font-family: 'Pretendard';
            font-weight: 800;
            font-size: 32px;
            display: flex;
            align-items: center;
        }
    
        .change-text {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: 'Pretendard';
            font-weight: 600;
            font-size: 24px;
            .signed-price-rate{
                text-align: 'left';
            }
            .change-price {
                text-align: 'right';
            }
        }
    }


    .chart-details {
        grid-area: 3 / 3 / 4 / 4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
        gap: 0.1px;
        width: 100%;
        padding: 10px 0;
        border-top: 1px solid #e2e8f0;
        border-bottom: 1px solid #e2e8f0;
        font-family: 'Pretendard';
        font-size: 11px;
        line-height: 140%;
        text-align: left;

        .high {
            grid-area: 1 / 1 / 2 / 2;
            color: #2D3748;
            font-weight: 400;
            .high-value {
                font-weight: 700;
                color: #F13B3B;
            }
        }
        .low {
            grid-area: 2 / 1 / 3 / 2;
            color: #2D3748;
            font-weight: 400;
            .low-value {
                color: #3030FD;
            }
        }
        .volume24 {
            grid-area: 1 / 2 / 2 / 3; 
            color: #2D3748;
            font-weight: 400;
    
            .volume24-value {
                font-weight: 700;
                color: #A0AEC0;
            }
        }
        .price24 {
            grid-area: 2 / 2 / 3 / 3;
            color: #2D3748;
            font-weight: 400;
    
            .price24-value {
                font-weight: 700;
                color: #A0AEC0;
            }
        }

    }
}

.coin-chart {
    width: 100%;
    flex: 1;
    margin-top: 20px;

    .chart-menu-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    }
}

.small-vector {
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: 36%;
}

.loader {
    position: relative;
    font-size: 16px;
    width:  5.5em;
    height: 5.5em;
    }
    .loader:before{
      content: '';
      position: absolute;
      transform: translate(-50%, -50%) rotate(45deg);
      height: 100%;
      width: 4px;
      background: var(--trai-disabled);
      left: 50%;
      top: 50%;
    }
    .loader:after{
      content: '';
      position: absolute;
      left: 0.2em;
      bottom: 0.18em;
      width: 1em;
      height: 1em;
      background-color: var(--trai-mint);
      border-radius: 15%;
      animation: rollingRock 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
    }
  @keyframes rollingRock {
    0% {transform: translate(0, -1em) rotate(-45deg)}
    5% {transform: translate(0, -1em) rotate(-50deg)}
    20% {transform: translate(1em, -2em) rotate(47deg)}
    25% {transform: translate(1em, -2em) rotate(45deg)}
    30% {transform: translate(1em, -2em) rotate(40deg)}
    45% {transform: translate(2em, -3em) rotate(137deg)}
    50% {transform: translate(2em, -3em) rotate(135deg)}
    55% {transform: translate(2em, -3em) rotate(130deg)}
    70% {transform: translate(3em, -4em) rotate(217deg)}
    75% {transform: translate(3em, -4em) rotate(220deg)}
    100% {transform: translate(0, -1em) rotate(-225deg)}
  }
        