/* 기본적인 body, html 스타일 초기화 */
body, html {
  margin: 0;
  padding: 0;
  background: #F8F9FA;
  box-sizing: border-box;
  font-family: 'Pretendard';
}

/* 모든 요소에 box-sizing: border-box를 적용 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* 전체 컨테이너 */
.investment-status {
  position: relative;
  width: 100%;
  height: 100vh;
}

.card-detailedInvestmentReport,
.card-investmentHistory,
.card-currentAssetAllocation {
  position: absolute;
  background-color: white;
  border-radius: 0.8vw;
  box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 0.3vw;
  align-content: center;
}

/* 투자 손익 상세 카드 */
.investmentReport {
  width: 23.1vw;
  height: 27vh;
  left: 75.2vw;
  top: 4.1vh;
  position: relative;
}

.investment-details-table {
  margin: 0.3vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  color: #2D3748;

  table {
    align-self: flex-start;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0.3vw;
    border: none;

    th, td {
      padding: 0.5vw;
      border-top: 0.05vw solid #ddd;
      border-bottom: 0.05vw solid #ddd;
    }

    th:first-child, td:first-child {
      border-left: none;
    }

    th:last-child, td:last-child {
      border-right: none;
    }

    tr:first-child th, tr:first-child td {
      border-top: none;
      background-color: transparent;
    }

    tr:last-child th, tr:last-child td {
      border-bottom: none;
    }

    th {
      background-color: #f8f8f8;
      font-weight: bold;
    }

    td {
      color: #2D3748;
    }
  }

  .pagination {
    align-self: center;
    display: flex;
    justify-content: center;
    color: var(--trai-disabled);
    gap: 0.3vw;

    button {
      padding: 0.5vw 0.8vw;
      border: 0.05vw solid var(--trai-mint);
      background-color: var(--trai-white);
      cursor: pointer;
      border-radius: 0.2vw;

      &:hover {
        background-color: var(--trai-white);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &.active {
        background-color: var(--trai-mint);
        color: var(--trai-white);
      }
    }
  }
}

.card-detailedInvestmentReport {
  width: 57vw;
  height: 91.7vh;
  left: 20.4vw;
  top: 4.1vh;
  position: relative;
  z-index: 1;
}

.card-investmentHistory {
  width: 20vw;
  height: 63.2vh;
  left: 78.4vw;
  top: 32.8vh;
}

.card-currentAssetAllocation {
  width: 20vw;
  height: 27.5vh;
  left: 78.4vw;
  top: 4.1vh;
}
