/* 기본적인 body, html 스타일 초기화 */
body, html {
    margin: 0; /* 기본 여백 제거 */
    padding: 0; /* 기본 패딩 제거 */
    background: #F8F9FA; /* 배경색 설정 */
    box-sizing: border-box; /* 요소의 크기 계산 방식을 border-box로 설정 */
    font-family: 'Pretendard';
  }
  
  /* 모든 요소에 box-sizing: border-box를 적용 */
  *,
  *::before,
  *::after {
    box-sizing: inherit; /* 부모의 box-sizing을 상속받도록 설정 */
  }
  
  .card-title {
    color: #A0AEC0;
    font-size:13px;
  
  }
  
  .card-content{
    font-size:10px;
  }
  
  /* 전체 컨테이너 */
  .investment-status {
    position: relative; /* 내부 요소들이 절대 위치로 배치될 때 기준이 되는 요소 */
    width: 100%; /* 전체 너비 설정 */
    height: 100vh; /* 화면 높이에 맞춤 */
  }
  
  /* 왼쪽 네비게이션 바 */
  .navbar {
    position: absolute; /* 절대 위치 지정 */
    width: 18.6%; /* 전체 너비의 18.6%로 설정 */
    height: 100vh; /* 화면 전체 높이 차지 */
    left: 0; /* 왼쪽에 고정 */
    top: 0; /* 위쪽에 고정 */
    background: #F5F5F5; /* 배경색 설정 */
    z-index: 100;
  }
  
  /* 메인 콘텐츠 영역 */
  .main-content {
    position: absolute; /* 절대 위치 지정 */
    display: flex; /* 내부 요소를 flex 컨테이너로 설정 */
    left: 0.8%; /* navbar 오른쪽에 위치하도록 설정 */
    right: 0%; /* 오른쪽 끝까지 확장 */
    top: 0; /* 위쪽에 고정 */
    bottom: 0; /* 아래쪽 끝까지 확장 */
  }
  
  
  .info-card-small,
  .info-card-medium,
  .info-card-large {
    position: absolute; /* 절대 위치 지정 */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 추가 */
    border-radius: 15px; /* 모서리를 둥글게 설정 */
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 0.3%;
    align-content: center;
  }
  /* 투자 손익 상세 카드 */
.info-card-large {
    width: 23.1%; /* 전체 너비의 23.1% */
    height: 27.0%; /* 전체 높이의 27.0% */
    left: 74.7%; /* 좌측에서 74.7% 떨어진 위치 */
    top: 4.1%; /* 상단에서 4.1% 떨어진 위치 */
    position: absolute;
    z-index: 1;
}

/* 자산 비중 추이 카드 */
.info-card-medium {
    width: 14.2%; /* 전체 너비의 14.2% */
    height: 27.0%; /* 전체 높이의 27.0% */
    left: 60.3%; /* 좌측에서 60.3% 떨어진 위치 */
    top: 4.1%; /* 상단에서 4.1% 떨어진 위치 */
    position: absolute;
    z-index: 1;
}

/* 현재 자산 비중 카드 */
.info-card-small {
    width: 18.7%; /* 전체 너비의 18.7% */
    height: 12.5%; /* 전체 높이의 12.5% */
    left: 20.6%; /* 좌측에서 20.6% 떨어진 위치 */
    top: 4.3%; /* 상단에서 4.3% 떨어진 위치 */
    position: absolute;
    z-index: 1;
}
  
//   /* 투자 손익 상세 카드 */
//   .info-card-large {
//     width: 50%; /* 전체 너비의 23.1% */
//     height: 100%; /* 전체 높이의 27% */
//     left: 20.6%; /* 좌측에서 20.6% 떨어진 위치 */
//     top: 4.1%; /* 상단에서 4.1% 떨어진 위치 */
//     position: relative;
//     z-index: 1;
//   }
  
//   /* 자산 비중 추이 카드 */
//   .info-card-medium {
//     width: 14.3%; /* 전체 너비의 14.3% */
//     height: 27%; /* 전체 높이의 27% */
//     left: 60.1%; /* 좌측에서 60.1% 떨어진 위치 */
//     top: 4.1%; /* 상단에서 4.1% 떨어진 위치 */
//   }
  
//   /* 현재 자산 비중 카드 */
//   .info-card-small {
//     width: 18.7%; /* 전체 너비의 18.7% */
//     height: 12.6%; /* 전체 높이의 12.6% */
//     left: 20.6%; /* 좌측에서 20.6% 떨어진 위치 */
//     top: 4.3%; /* 상단에서 4.3% 떨어진 위치 */
//   }